<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> Hi {{messageBoxContent| translate}}</h1>
      <h2>   {{'HOME.title' | translate:{'name':'Andreas'} }}  </h2>
      <p>
        {{'HOME.text' | translate}}
      </p>
      <!-- translation: translation pipe -->
      <!-- <p>{{ 'HOME.select' | translate:{'name':'Andreas'} }}</p> -->

      <!-- translation: directive (key as attribute) -->
      <p [translate]="'HOME.select'" [translateParams]="{name:'Andreas'}"></p>

      <!-- translation: directive (key as content of element)-->
      <!-- <p translate [translateParams]="{name: 'Catherine'}">'HOME.title'</p> -->

      <label for="">  {{'HOME.select' | translate:{'name':'Catherine'} }}
        <select #langselect  (change)="translate.use(langselect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang"> {{ lang }}</option>
        </select>
      </label>
    </div>
  </div>
</div>